/* Normalize */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

img {
    border-style: none;
}

/* Personalized */

.wrapper {
    display: grid;
}

.info-main {
    background-color: blue;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100vh;
    grid-row-start: 1;
    grid-row-end: 2;
}